body {
    font-family: monospace;
    background-color: #000;
    color: #fff;
    text-align: center;
}

#map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

canvas {
    border: 1px solid #fff;
}

.info {
    margin-bottom: 10px;
    display: inline-block;
    width: 10rem;
}

.console-canva {
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
    height: 130px;
    background-color: rgb(74, 74, 75);
}

.file-label {
    margin: 25px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #e9e9e9;
    color: #333;
    border: none;
    cursor: pointer;
}

.file-label:hover {
    background-color: #ccc;
}

.hidden-file-input {
    display: none;
}